<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head}"></head>
<body>
    <div>
        <nav th:replace="~{template :: nav}"></nav>
    </div>
    <div class="container">
        <h1 class="m-3">Insumos Cadastrados</h1>

        <table class="table mt-3 table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Qtd Embalagem</th>
                    <th scope="col">Unidade de Medida</th>
                    <th scope="col">R$ Embalagem</th>
                    <th scope="col">R$ Unitário</th>
                    <th scope="col">Fornecedor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="insumo : ${insumos}">
                    <td th:text = "${insumo.id}"></td>
                    <td class="text-start" th:text = "${insumo.descricao}"></td>
                    <td th:text = "${insumo.tamanhoEmbalagem}"></td>
                    <td th:text = "${insumo.unidadeMedida}"></td>
                    <td th:text = "${#numbers.formatDecimal(insumo.valorEmbalagem,1,'POINT',2,'COMMA')}"></td>
                    <td th:text = "${#numbers.formatDecimal(insumo.valorUnitario,1,'POINT',2,'COMMA')}"></td>
                    <td th:text = "${insumo.fornecedor}"></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>